.travel-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #eef4f7;
  min-height: 100vh;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.travel-heading {
  font-size: 30px;
  font-weight: 700;
  color: #334155;
  border-bottom: 4px solid #52bbf0;
  font-family: 'Roboto';
}

.travel-data {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  list-style-type: none;
}
